ul.specific{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
    font-size: 40px;
    margin: 10px;
}

i{
    color: orange;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    color: lightsalmon;
    text-align: center;
}

.btn{
    padding: 10px;
    background-color: cadetblue;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}